
/*-- icons --*/
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.w3ls-icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.w3ls-icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.w3ls-icon-box:hover i.fa {
	color:#fff !important;
}
.w3ls-icon-box:hover a.icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#000!important;
    margin: 30px 0 15px;
}
h3.icon-pg-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.w3ls-icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.w3ls-icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.icon-pg-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.w3ls-icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.icon-pg-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.w3ls-icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.w3ls-icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.icons-page-new {
		margin-top: 25px;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.icon-pg-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.w3ls-icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.icons-page-new {
		margin: 25px 0 0 !important;
	}
}
/*-- //icons --*/